{% extends 'auth.html' %}

{% block header %}
  <div class="login_box">
    <h1 class="black_font">{% block title %}Réinitialiser votre mot de passe{% endblock %}</h1>
    <h2 class="gray_font">Entrez votre e-mail et vous receverez un lien par mail !</h2>
  </div>
{% endblock %}


{% block content %}
  <div class="login_box">
    <form method="POST">
      <br><br><br>
      <input type ="email"name="email" id="email" required placeholder="E-mail">
      <br><br><br>
      <input type="submit" value="Envoyer le lien">
    <p class="ligne"></p>

  </div>
{% endblock %}