{% extends 'auth.html' %}

{% block header %}
  <div class="login_box">
    <h1 class="black_font">{% block title %}Bienvenue{% endblock %}</h1>
    <h2 class="gray_font">Gérez vos animaux en toute simplicité, c'est le secret d'une relation harmonieuse.</h2>
  </div>
{% endblock %}


{% block content %}
  <div class="login_box">
    <form method="post">
      <br><br><br>
      <input type ="email"name="email" id="email" required placeholder="E-mail">
      <br><br><br>
  <div class="login_box" id="password_box">
    <input type="password" name="password" id="password" required placeholder="Mot de passe">
    <img src="{{url_for('static', filename='eye-close.png')}}" id="eyeicon" class="eye_img">
  </div>
      <br><br><br>
      <input type="submit" value="Créer un compte">
    </form>
    <p class="ligne"></p>
    <p class="gray_font">Vous n'avez pas de compte ?</p><a class="blue_font"href="{{url_for('auth.register')}}">Inscrivez-vous !</a>

  </div>
{% endblock %}