{% extends 'auth.html' %}

{% block header %}
  <div class="login_box">
    <h1 class="black_font">{% block title %}Bienvenue{% endblock %}</h1>
    <h2 class="gray_font">Gérez vos animaux en toute simplicité, c'est le secret d'une relation harmonieuse.</h2>
  </div>
{% endblock %}


{% block content %}
  <div class="login_box">
    <form method="post">
      <br><br><br>
      <input type ="email"name="email" id="email" required>
      <br><br><br>
      <input type="password" name="password" id="password" required>
      <br><br><br>
      <input type="submit" value="Créer un compte">
    </form>
    <a href="{{url_for('auth.register')}}">créer un compte</a>
  </div>
{% endblock %}