{% extends 'base.html' %}
{% block content %}
<div class="text_content">
    <section >
        <h1 class="blue_font">Découvrez Petcare.com, l'initiative d'un étudiant passionné par<br>les animaux de compagnie !</h1>
        <p class="blue_background">À propos de Moi<br><br><br>Dans le cadre de mon travail de maturité, j'ai ressenti le<br>besoin de créer un espace où les propriétaires comme<br>moi pourraient enregistrer et gérer facilement les<br>informations essentielles concernant leurs <br>compagnons à quatre pattes. Que vous ayez un chien <br>ou un chat ou un autre animal de compagnie,<br>Petcare.com est là pour vous aider à garder une trace de leurs soins ou de leurs rappels médicaux.</p>
        <p class="blue_font">Votre Aventure avec Nous <br><br><br>Chaque animal a une histoire unique, et nous sommes là pour vous aider à la raconter.<br> Rejoignez notre communauté et découvrez <br>comment Petcare.com peut enrichir votre relation <br>avec vos animaux de compagnie.</p>
        <br><br><b><br><br>
        <p class="blue_font">L'étudiant passionné derrière Petcare.com</p>
    </section>
</div>
{%endblock%}