{% extends 'auth.html' %}

{% block header %}
  <div class="top_info">
    <div class="picture">
      <img src="{{url_for('static', filename='camera.png')}}" id="camera">
    </div>
    <div class="top_content">
      <h2 class="black_font">{% block title %}Mon compte{% endblock %}</h2>
      <p class="gray_font">Ajouter une photo de profil</p>
    </div> 
  </div>
{% endblock %}

{% block content %}
  <div class="info_box">
    <p class="black_font " >Nom : {{g.user.name}}</p>
    <p class="black_font ">Email : {{g.user.email}}</p>
    <p class="black_font ">Numéro de téléphone : {{g.user.phone_number}}</p>
    <div class="update_button">
      <input type="submit" name="update" id="update" value="Changer mes informations">
    </div>
    
    <a href="{{url_for('auth.logout')}}" class="black_font">Se déconnecter</a>
  </div>
{% endblock %}