{% extends 'auth.html' %}

{% block header %}
  <div class="top_info">
    <div class="picture">
      <img src="{{url_for('static', filename='camera.png')}}" id="camera">
    </div>
    <div class="top_content">
      <h2 class="black_font">{% block title %}Mon compte{% endblock %}</h2>
      <p class="gray_font">Ajouter une photo de profil</p>
    </div> 
  </div>
{% endblock %}

{% block content %}
  <div class="info_box">
    <form method="POST" action="{{url_for('user.update_profile')}}" enctype="multipart/form-data">
      <div class="name_and_first_name">
        <div class="first_name_column">
          <p>Prénom</p>
          <input type="text" name="first_name" id="first_name" class="gray_font" value="{{g.user.first_name}}">
        </div>
        <div class="name_column">
          <p>Nom</p>
          <input type="text" name="name" id="name" class="gray_font" value="{{g.user.name}}">
        </div>
      </div>
      <br>
      <input  name="profilePic" type="file" accept="image/*" capture>
      <br>
      <p>E-mail</p>
      <input type="email" name="email" id="email" class="gray_font" value="{{g.user.email}}">
      <br>
      <p>Numéro de téléphone</p>
          <input type="text" name="phone_number" id="phone_number" class="gray_font" value="{{g.user.phone_number}}">
      <br>
      <p>Changez mon mot de passe</p>
      <div class="password_box" id="password_box">
        <input type="password" name="password" class="gray_font" id="password" value="{{g.user.password}}">
        <img src="{{url_for('static', filename='eye-close.png')}}" id="eyeicon" class="eye_img" >
      </div>
        <br>
      <div class="password_box" id="password_box">
        <input type="password" name="verify_password" id="verify_password" class="gray_font" value="{{g.user.password}}">
        <img src="{{url_for('static', filename='eye-close.png')}}" id="eyeicon2" class="eye_img">
        <br>
      </div>
      <input type="submit" id="update" value="Modifier mes informations">
    </form>
  </div>
{% endblock %}