body{
    display: flex;
    position: relative;
    
}

.navbar{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
}
.navbar li{
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    list-style: none;
    padding: 14px 16px;
    color: black;
}
.navbar a{
    text-decoration: none;
    color: black;
}

.dropdown{
    opacity: 0;
    visibility: hidden;

}
li:hover ul.dropdown{
    opacity: 1;
    visibility: visible;
}

p{
    justify-content: flex-start;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;

}

.flashed{
    font-family: 'Inter', sans-serif;
    font-weight:lighter;
    color: red;
    text-align: center;
}
.login_box{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;      
}
#password_box,
#password_box1,
#password_box2{
    position: relative;
    display: flex;
    flex-direction: row;
}
.eye_img{
    position: absolute;
    right: 25px;
    top: 15%;
    width: auto;
    height: 70%;
}
.login_box form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_box input{
    width: 380px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: #ededed;
    border-radius: 7px;
    border: solid #ededed;
    box-shadow: none ;
    text-indent: 10px;
}

.login_box input:hover {
    background-color: #d4d2d2;
  }



.login_box input[type="submit"] {
    background-color: #4948FF;
    border: #4948FF;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: none;
}
.login_box input[type="submit"]:hover {
    background-color: #5c5cfa;

}


.black_font{
    font-family: 'Inter', sans-serif;
    color: black;
}
.gray_font{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: gray;
}
.blue_font {
    text-decoration: none;
    color:#4948FF;
    font-family: 'Inter',sans-serif;
}
.blue_font:hover{
    text-decoration: underline;
}

.ligne{
    background-color: #d4d2d2;
    width: 600px;
    height: 1px;
}

.top_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65vw;
    
}

.top_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;  
}

.info_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
     
}

.info_box p{
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 10px;
}

.info_box input{
    display: flex;
    border-radius: 5px;
    width: 290px;
    height: 50px;
    font-size: 15px;
    background-color: #ededed;
    border: solid #ededed;
    padding-left: 10px;
    padding-right:10px;   
}
.info_text{
    margin-left: 10px;
}

.name_and_first_name{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
.name_and_first_name input{
    width: 100px;
    justify-content: space-between;
}
.first_name_column{
    display: flex;
    flex-direction: column;
}
.name_column{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}
    


.picture img{
    height: auto;
    width: 50px;
    background-color: #edf0ee;
    border-radius: 50%;
}

.info_box #update{
    margin-top: 30px;
    background-color: #4948FF;
    border: #4948FF;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: none;
}

.info_box #update:hover{
    background-color: #5c5cfa;
}
#camera{
    width: 35px;
    height: auto;
}