.main_container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.img_container img{
    filter: drop-shadow(0px 1000px 0 #4948FF);
    transform: translateY(-1000px);
}

.main_container .img_container{
    display: flex;
    justify-content: center;
    padding-right: 20px;
}
#choice_bee{
    padding-left: 100px;
}

.img_container #cat{
    height: 35vh;
}
.img_container #cat:hover{
    height: 40vh;
}

.img_container #dog{
    height:35vh;
}
.black_text{
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 13px;
    text-align: center;
}

.blue_text{
    font-family: 'Inter', sans-serif;
    color: #4948FF;
    font-size: 13px;
    text-align: center;
}

.custom_select{
    display: flex;
    flex-direction: row;
    width: 105%;
    justify-content: center;

}
.custom_select form{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

.custom_select select{
    display: flex;
    justify-content: center;
    appearance:none;
    border: white;
    border-color: whitesmoke;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.custom_select input{
    display: flex;
    justify-content: center;
    appearance:none;
    border: none;
    color: gray;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    max-width: 30px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;

}
.custom_select input[type='submit']{
    background-color: #4948FF;
    max-width: 100px;
    color: white;
}

.custom_select p{
    width: fit-content;

    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: gray;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin-left: 2%;
    white-space: nowrap;
}

.custom_select img{
    filter: drop-shadow(0px 1000px 0 #e1eaff);
    transform: translateY(-1000px);
    position: absolute;
    height: 30vh;
    top:0;
    left:0;
}


.list_pets{
    background-color: white;
    border-radius: 7px;
    width: 23%;
    height: 80vh;
}

.info_pet{
    background-color: white;
    border-radius: 7px;
    width: 72%;
    height: 80vh;
}

.list_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.list_title img{
    height: 5vh;
}

