.main_container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.img_container img{
    filter: drop-shadow(0px 1000px 0 #4948FF);
    transform: translateY(-1000px);
}

.main_container .img_container{
    display: flex;
    justify-content: center;
    padding-right: 20px;
}
#choice_bee{
    padding-left: 100px;
}

.img_container #cat{
    height: 35vh;
}
.img_container #cat:hover{
    height: 40vh;
}

.img_container #dog{
    height:35vh;
}
.black_text{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 13px;
    text-align: center;
}


.blue_text{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #4948FF;
    font-size: 13px;
    text-align: center;
}

.custom_select{
    display: flex;
    flex-direction: row;
    width: 105%;
    justify-content: center;

}
.custom_select form{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

.custom_select select{
    display: flex;
    justify-content: center;
    appearance:none;
    border: white;
    border-color: whitesmoke;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.custom_select input{
    display: flex;
    justify-content: center;
    appearance:none;
    border: none;
    color: gray;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    max-width: 30px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;

}
.custom_select input[type='submit']{
    background-color: #4948FF;
    max-width: 100px;
    color: white;
}

.custom_select p{
    width: fit-content;

    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: gray;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-left: 2%;
    white-space: nowrap;
}

.custom_select img{
    filter: drop-shadow(0px 1000px 0 #e1eaff);
    transform: translateY(-1000px);
    position: absolute;
    height: 30vh;
    top:0;
    left:0;
}

.list_pets{
    background-color: white;
    border-radius: 7px;
    width: 23%;
    height: 80vh;
}

.pet_title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pet_title a{
    text-decoration: none;
}

.info_pet{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 7px;
    width: 72%;
    height: 80vh;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title img{
    height: 5vh;
}

.info_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}
.info_left form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    padding-top: 5%;
    
    
}

.info_left input{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(168, 168, 168);
    border-radius: 5px;
    width: fit-content;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 10px;
}
.info_left input[type='submit']{
    border: none;
    background-color: #4948FF;
    color: white;
}



.info_right{
    display: flex;
    flex-direction: column;
    width: 25vw;
    justify-content: space-around;
}



.info_right input{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(168, 168, 168);
    border-radius: 5px;
    width: fit-content;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

.row{
    display: flex;
    flex-direction: row;
}
.vaccine{
    display: flex;
    flex-direction: column;
    height: 40vh;
    overflow-y: auto;
}

.vaccine_name{
    font-size: 15px;
}
.meeting{
    display: flex;
    flex-direction: column;
    height: 40vh;
    overflow-y: auto;
}
.info_new{
    display: flex;
    flex-direction: column;
}

.info_new form{
    display: flex;
    flex-direction: column;
}

.info_new input{
    padding: 4px;
    margin-top: 3px;
}
.info_new label{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

.details {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: white;
    border: 2px solid rgb(168, 168, 168);
    border-radius: 5px;
    font-size: 10px;
    color: gray;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    
}

.details img{
    position: absolute;
    top: 0;
    left: 0;
    height: 2vh;
}

