@font-face {
    font-family: Inter;
    src: url();
}


body{
    background: color #e1eaff;;
}
.navbar{
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.navbar a{
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: black;
}

.navbar a.active{
    color: #4948FF;
}



