{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/calculateur.css')}}">
    <div class="main_container">
        {% if list_pet %}
        <div class="list_pets">
            <div class="title">
                <p class="black_text">Vos animaux</p>
                <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
            </div>
            {% for pet in list_pet%}
                {%if pet['chip_number'] %}
                <div class="pet_title">
                    <a href="{{url_for('pet.pet_details', chip_number=pet['chip_number'])}}">
                        <p class="black_text">{{pet['name']}}</p>
                    </a>
                    <a href="{{url_for('pet.pet_details', chip_number=pet['chip_number'])}}">
                        <p class="black_text">{{pet['chip_number']}}</p>
                    </a>
                </div>
                {% else %}
                    <p>Vous n'avez pas d'animaux enregistrés</p>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div class="list_pets">
            <div class="title">
                <p class="black_text">Aucun animal enregistré</p>
                <a href="{{url_for('pet.new_pet')}}">
                    <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
                </a>
            </div>
        </div>
        {% endif%}
        <div class="info_pet">
            <div class="info_left">
                <p class="black_text">Ajouter un nouvel animal</p>
                <form method="POST">
                    <input type="text" name="name_pet"id="name_pet" placeholder="Nom de votre animal">
                    <input type="text" name="chip_number" id="chip_number" placeholder="Numéro de puce">
                    <input type="text" name="breed" id="breed" placeholder="Race de votre animal">
                    <input type="text" name="date_birth" id="date_birth" placeholder="Date de naissance">
                    <input type="submit" value="Ajouter mon animal">
                    </form>
            </div>
        </div>

    </div>
    

{% endblock %}