{% extends 'base.html'%}
{%block content%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/calculateur.css')}}">    
    <div class="custom_select">
        <img src="{{url_for('static', filename='dog.png')}}" alt="Image de chat">
        <form action="{{url_for('pet.dog_bee')}}" method="POST">
            <input type="text" name="weight" placeholder="kg">
            <select name="status_dog" >
                <option value="None">-Statut de mon chien-</option>
                <option value="sterilized" >Stérilisé</option>
                <option value="not_sterilized" >Non stérilisé</option>
            </select>
            <select name = "race">
                <option value="None">-Groupe de races-</option>
                <option value="nordics_races_1">Golden Retriever, Husky, Léonberg, Terre-Neuve</option>
                <option value="races_2">Beagle, Cocker</option>
                <option value="other_3">Autres</option>
                <option value="races_4">Lévriers, Dogue Allemand, Terriers</option>
            </select>
            <select name="physical_activity">
                <option value="None">-Situation physique de mon chien-</option>
                <option value="inactive">Inactif</option>
                <option value="not_very_active">Peu actif</option>
                <option value="normal">Activité normale</option>
                <option value="active">Actif</option>
                <option value="very_active">Très actif</option>
            </select>
            <input type="submit" name="submit" placeholder="Calculez la ration">
        </form>
        {% if cat_bee is not none %}
            <p class="bee_final">{{cat_bee}} kcal/jour</p>
        {% else %}
            <p class="bee_final" id="start_value">résultat en kcal/jour</p>
        {% endif %}
    </div>
{%endblock%}