{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/calculateur.css')}}">
    <div class="main_container">
        {% if list_pet != none%}
        <div class="list_pets">
            <div class="list_title">
                <p class="black_text">Vos animaux</p>
                <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
            </div>
            {% for pet in list_pet%}
            <a href="{{url_for('pet.pet_details', chip_number=pet['chip_number']) }}">
                    <p class="black_text">{{pet['name']}}</p>
                </a>
                <p class="black_text">{{pet['chip_number']}}</p>
            {% endfor %}
        </div>
        {% else %}
        <div class="list_pets">
            <div class="list_title">
                <p class="black_text">Aucun animal enregistré</p>
                <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
            </div>
        </div>
        {% endif%}
        <div class="info_pet">
            <p>info_pet</p>
            <p>{{pet_details['name']}}</p>
            <p>{{pet_details['breed']}}</p>
            <p>{{pet_details['date_birth']}}</p>
            <p>{{pet_details['chip_number']}}</p>
        </div>

    </div>
    

{% endblock %}