{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/calculateur.css')}}">
    <div class="main_container">
        {% if list_pet %}
        <div class="list_pets">
            <div class="title">
                <p class="black_text">Vos animaux</p>
                <a href="{{url_for('pet.new_pet')}}">
                    <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
                </a>
            </div>
            {% for pet in list_pet%}
                {%if pet['chip_number']%}
                <div class="pet_title">
                    <a href="{{url_for('pet.pet_details', chip_number=pet['chip_number'])}}">
                        <p class="black_text">{{pet['name']}}</p>
                    </a>
                    <a href="{{url_for('pet.pet_details', chip_number=pet['chip_number'])}}">
                        <p class="black_text">{{pet['chip_number']}}</p>
                    </a>
                    <a href="{{url_for('pet.del_pet', chip_number=pet['chip_number'])}}">
                        <img src="{{url_for('static', filename='trash.png')}}" alt="poubelle">
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div class="list_pets">
            <div class="list_title">
                <p class="black_text">Aucun animal enregistré</p>
                <a href="{{url_for('pet.new_pet')}}">
                    <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
                </a>
            </div>
        </div>
        {% endif%}
        <div class="info_pet">
            <div class="info_left">
                <p class="black_text">Mon animal</p>
                <form method="POST">
                    <input type="text" name="name_pet"id="name_pet" placeholder="{{pet_details['name']}}">
                    <p class="black_text">Numéro de puce</p>
                    <input type="text" name="chip_number" id="chip_number" placeholder="{{pet_details['chip_number']}}">
                    <p class="black_text">Race</p>
                    <input type="text" name="breed" id="breed" placeholder="{{pet_details['breed']}}">
                    <p class="black_text">Date de naissance</p>
                    <input type="text" name="date_birth" id="date_birthe" placeholder="{{pet_details['date_birth']}}">
                    <br>
                    <input type="submit" value="Valider les changements">
                </form>
            </div>  
            
            <div class="info_right">
                {% if list_weight %}
                <div class="meeting">
                    <div class="title">
                        <p class="black_text">Ajouter une mesure</p>
                    
                        <a href="{{url_for('pet.new_weight')}}">
                            <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
                        </a> 
                    </div>     
                    <div class="chart">
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <canvas id="weight_chart">
                            <script>
                                var ctx = document.getElementById('weight_chart').getContext('2d');
                                var weight_chart = new Chart(ctx, {
                                    type : "line",
                                    data : {
                                        labels : {{ labels | safe }},
                                        datasets : [
                                        {
                                            label : "Evolution de poids",
                                            data : {{values | safe}},
                                            fill : false,
                                            borderColor: "rgb(75, 192, 192)",
                                            lineTension: 0.1
                                        }
                                        ]
                                    }
                                    
                                    });
                            </script>
                        </canvas>

                    </div>
                </div> 
                {% else %}
                <div class="title">
                    <p class="black_text">Ajouter une mesure</p>
                    <a href="{{url_for('pet.new_weight')}}">
                        <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
                    </a>
                </div>
                {% endif %}
                <div class="row">
                    {% if list_vaccine %}
                    <div class="vaccine">
                        <div class="title">
                            <p class="black_text">Vaccins</p>
                            <a href="{{url_for('pet.new_vaccine')}}">
                                <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
                            </a> 
                        </div>     
                        {% for vaccine in list_vaccine%}
                            <div class="details">
                                <a href="{{url_for('pet.delete_vaccine', id_vaccine = vaccine['id_vaccine'] )}}">
                                    <img src="{{url_for('static',filename='trash.png')}}" alt="poubelle">
                                </a>
                                <p class="vaccine_name">{{vaccine['name']}}</p>
                                <p>Effectué le : </p>
                                <p>{{vaccine['date_meeting']}}</p>
                                <p>Doit être rappelé le : </p>
                                <p>{{vaccine['date_reminder']}}</p>
                            </div> 
                        {% endfor %}
                    </div> 
                    {% else %}
                    <div class="title">
                        <p class="black_text">Ajouter un vaccin</p>
                        <a href="{{url_for('pet.new_vaccine')}}">
                            <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
                        </a>
                            
                    </div>
                    {% endif %}
                    {% if list_meeting %}
                    <div class="meeting">
                        <div class="title">
                            <p class="black_text">Rendez-vous</p>
                            <a href="{{url_for('pet.new_meeting')}}">
                                <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
                            </a> 
                        </div>     
                    {% for meeting in list_meeting%}
                        <div class="details">
                            <a href="{{url_for('pet.delete_meeting', id_meeting = meeting['id_meeting'] )}}">
                                <img src="{{url_for('static',filename='trash.png')}}" alt="poubelle">
                            </a>
                            <p>{{meeting['reason']}}</p>
                            <p>Effectué le : </p>
                            <p>{{meeting['date_of_meeting']}}</p>
                        </div> 
                    {% endfor %}
                    </div> 
                    {% else %}
                    <div class="title">
                        <p class="black_text">Ajouter un rendez-vous</p>
                        <a href="{{url_for('pet.new_meeting')}}">
                            <img src="{{url_for('static', filename='plus.png')}}" alt="Ajout">
                        </a>
                    </div>
                {% endif %}
                </div>  
            </div>  
        </div>

    </div>
    

{% endblock %}