<!doctype html>
<head>
    <title>{% block title %}{% endblock %} petcare.com</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="cercle_degrade"></div>
    <div class="navbar">
        <a href="{{url_for('home.landing_page')}}">Accueil</a>
        <a href="{{url_for('pet.home_pet')}}">Mes animaux</a>
        <a href="{{url_for('home.apropos')}}">À propos</a>
        <a href="{{url_for('home.calculateur')}}">Calculateur de ration</a>
        <a href="{{url_for('user.show_profile')}}">Mon compte</a>
    </div>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>